{% extends 'base.html' %}

{% block title %}
    Manage Files
{% endblock %}

{% block content %}
    <header class="mt-5">
        <a href="{% url 'files:upload' %}" class="btn btn-primary">Upload Files</a>
        <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
    </header>
    <main>
        <table class="table table-stripe">
            <thead>
            <tr>
                <th>File Name</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for x in files %}
                <tr>
                    <td>{{ x.file }}</td>
                <td><a href="{{ x.file.url }}" download class="btn btn-primary">Download</a></td>
                </tr>
            {% empty %}
            <tr>
                <td colspan="2">No Files Found</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}